<header th:fragment="qheader">
<head>
    <style>
        .headerSoal {
            background-color: #FFE6CD;
            width: 100%;
            height: 75px;
            position: relative;
            top: 0;
            left: 0;
            padding: 1em 0 0 1em;
            display: inline-block;
            margin: 0;
        }
    </style>
</head>
<body>
    <div class="headerSoal">                
        <img src="../images/cvcthome.png" style="max-width:150px; height:auto;" alt="alt" />
    </div>
</body>
</header>